<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.jpg" id="gravatar" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm Daniel.</h2>

  <div id="bio">
    <p>Christian, husband, father, and programmer.</p>
    <p>I write code for the web.</p>
  </div>

  <div id="projects">
    <a href="https://www.learnelixir.tv" target="_blank">
      <img alt="LearnElixir.tv" src="http://elixir-lang.org/images/learning/learn-elixir-tv.png" />
    </a>
    <hr />
  </div>

  <div id="social">
    {% include social.html %}
  </div>
</nav>
