<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.jpg" id="gravatar" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm Daniel.</h2>
  <div id="bio">
    <p>Christian, husband, father, and software engineer.</p>
    <p>I write code for the web.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
